.App {
  margin: 2% 5%;
}

.btn-no-style {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.btn-no-style:hover {
  color: black;
  text-decoration: underline black;
}

.loader-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.loader {
  width: 100px;
  height: 100px;
  background: url("../public/spinner.gif") center center no-repeat;
  background-size: cover;
}
